* {
    margin: 0;
    padding: 0;
}

body {
    background: darkgrey;
}

.title {
    text-align: center;
    padding-top: 15px;
    margin-bottom: 24px;


}

.wrapper {
    width: 100%;
    text-align: center;
    background-color: aliceblue;
}

.btn {
    width: 20%;
    margin: 15px;
    padding: 10px;
    font-size: 15px;
}

a {
    text-decoration: none;
}

#carsList {
    display: flex;
    justify-content: center;
    text-align: center;
}



